@use "base/variables"
@use "blocks/header"
@use "blocks/title"
@use "blocks/catalog"
@use "blocks/button"
@use "blocks/basket"
@use "blocks/footer"
@use "blocks/forms"
@use "blocks/modal"
@use "blocks/promotion"
@use "blocks/about"
@use "blocks/media"
//@use "libs/fonts"

body
    margin: 0 auto
    overflow-x: hidden
    font-family: 'Roboto', sans-serif
    background-attachment: fixed
    // background-image: url("../img/1466501.jpg")
.container
    margin: 0 auto
    width: 1400px
    background-color: rgba(255, 255, 255, 0)
header
    background-color: #d0d0d0
.popup
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 5
    img
        height: 400px
        width: 600px