.container
    margin: 0 auto
    width: 950px
    &_promo
        background: url('../img/promo_bg.png')

@import "blocks/header"
@import "blocks/promo"
@import "blocks/title"
@import "blocks/catalog"
@import "blocks/button"