body
    margin: 0 auto
    overflow-x: hidden
    font-family: 'Roboto', sans-serif
    background-image: url()
.container
    margin: 0 auto
    width: 1400px
header
    background-color: #d0d0d0
.popup
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 5
    img
        height: 400px
        width: 600px

@import "libs/fonts"
@import "base/variables"
@import "blocks/header"
@import "blocks/title"
@import "blocks/catalog"
@import "blocks/button"
@import "blocks/basket"
@import "blocks/footer"
@import "blocks/forms"
@import "blocks/modal"
@import "blocks/promotion"
@import "blocks/about"
@import "blocks/media"