.btn
    height: 35px
    width: 170px
    border-radius: 6%
    border: 0
    background-color: #e70a0a
    color: #f3ecec
    font-size: 19px  
    text-align: center
    cursor: pointer
    &-mini
        width: 130px
        margin: 0 3px