.menu
    display: flex
    align-items: end
    position: relative
    height: 70px
    padding-left: 0
    &__logo
        display: flex
        text-decoration: none
        img
            padding: 5px 10px
            height: 60px
    &__name
        color: #343434
        padding-top: 20px
        font-size: 25px
        font-weight: 900     
    &__list
        padding-left: 0
        margin: 27px auto
    &__item
        display: inline
        padding: 0 30px
        border-right: solid black
        &:last-child
            border-right: 0
    &__link
        color: black
        font-size: 20px
        font-weight: 500
        text-decoration: none
    &__consult
        padding-top: 5px
        padding-right: 10px
        &-text
            padding-top: 5px
            font-size: 19px
            font-weight: 500
            text-align: center
        &-phone
            display: block
            padding-top: 22px
            font-size: 22px
            text-decoration: none
            text-align: center
.hamburger
    display: none